<!DOCTYPE html>
<html>
<head>
	<title>MediGo</title>	
	<link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">   
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fas fa-diagnoses"></i>MediGo</a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
        </button>
        <div class="collapse navbar-collapse" id="exCollapsingNavbar">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    </ul>
                 </div> 
               </li>
            </ul>
        </div>
    </div>
</nav>

<div id="modalPassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Forgot password</h3>
            </div>
            <div class="modal-body">
                <p>Reset your password..</p>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-success">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="container about">
	<div class="jumbotron">
	<h1>ABOUT US</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla risus ut hendrerit consectetur. Aliquam eget auctor sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed at tempor elit. Donec ac erat sagittis, sollicitudin sem eu, euismod nisl. Aenean gravida, mauris quis sollicitudin euismod, ligula ante euismod magna, fermentum ultricies nisl ex a est. Mauris laoreet ipsum eros, sed feugiat odio lacinia nec. Aenean rhoncus fringilla tincidunt.

Nam ac metus bibendum, finibus sapien sit amet, viverra tellus. Pellentesque quis ultrices libero, eget dictum urna. Pellentesque interdum, massa a accumsan condimentum, arcu lorem dapibus massa, aliquet gravida mi lectus eu leo. In eros sapien, efficitur id massa vel, lacinia suscipit lacus. Ut nec pharetra odio, vel consectetur erat. Fusce rutrum, lacus ullamcorper aliquet tincidunt, orci odio mattis lectus, a molestie tellus ligula finibus mi. Donec maximus ex sit amet eleifend vehicula. Suspendisse vestibulum pharetra purus, eu tempor tellus molestie vel. Suspendisse facilisis lorem est, vel scelerisque erat suscipit porttitor. Pellentesque tristique metus vitae justo congue convallis. Nullam quis lectus vitae eros luctus eleifend. Sed venenatis porta porttitor. Nunc iaculis elementum dapibus. Pellentesque sit amet augue ullamcorper, vestibulum nibh ut, luctus augue. Maecenas at turpis porta arcu efficitur convallis nec non orci.
	</p>
</div>
</div>
 
<div class="container">
	<h3>Symptoms</h3>
	<p>
		Ut congue erat lectus, at consequat purus euismod consectetur. Fusce a lorem et quam mattis scelerisque. Integer bibendum hendrerit tortor. Praesent sagittis purus quis arcu dictum malesuada. Curabitur congue, nulla in auctor mattis, odio erat fringilla urna, eget dignissim justo eros vitae felis. Quisque pharetra nisi sit amet nibh imperdiet, vel sollicitudin quam vulputate. Mauris sed felis pharetra, posuere ipsum non, rhoncus neque. Suspendisse at elit lobortis, dictum massa id, vehicula turpis. Quisque pulvinar porttitor dolor sit amet tincidunt. In finibus tristique augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	</p>
	<h5>Select Symptoms</h5>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>
</body>
</html>