<!DOCTYPE html>
<html>
    <head>
        <title>MediGo</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    </head>
    <body class="background">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" role="navigation">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <i class="fas fa-diagnoses"></i>mediGo</a>
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar"></button>
                <div class="collapse navbar-collapse" id="exCollapsingNavbar">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </li>
        </ul>
    </body>
</html></div></div></nav><div class="container body"><div class="row"><div class="col-6 background">
<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2000">
            <img src="assets/1.jpg" class="d-block w-100 dim" alt="doctors">
        </div>
        <div class="carousel-item" data-interval="2000">
            <img src="assets/2.jpg" class="d-block w-100 dim" alt="social distancing">
        </div>
        <div class="carousel-item" data-interval="3000">
            <img src="assets/3.jpg" class="d-block w-100 dim" alt="2 metres apart">
        </div>
    </div>
</div></div><div class="col-6">
<form class="form box" role="form" method="POST">
    <h1>Enter Your Details</h1>
    <div class="form-group">
        <label>Name</label>
        <input id="name" placeholder="Name" class="form-control form-control-sm" type="text" required="">
    </div>
    <div class="form-group">
        <label>Age</label>
        <input id="age" placeholder="Age" class="form-control form-control-sm" type="text" required="">
    </div>
    <div class="form-group">
        <label>Gender</label>
        <input id="gender" placeholder="Gender" class="form-control form-control-sm" type="text" required="">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block">Submit details</button>
    </div>
</form></div></div></div><script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script><script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script></body></html>
